.img1{
    width: 100px;
    float:right;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    
}
div{
    border: 7px dashed pink;
    overflow: auto;
}
.img2{
    width: 300px;
    height: 200px;
}