/* css background color and Border */
.img1{
    background-image: ;
    border-radius: 50%;
}
.div1{
    background-color: aqua;
}
.div2{
    background-image: url(/HTML/images/convenience\ store.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.div3{
    border-style: solid;
    border-width: 30px;
    border: height 30px;
    background-image: url(/HTML/images/Cake.ico);
    border-radius: 20%;
}
body{
    background-color: antiquewhite;
}